{% load i18n sizeformat %}

<h2><b>{% trans "CA Overview" %}</b></h2>
<div class="data row-fluid detail">
  <h3><b>{{ ca.name }}</b></h3>
  <hr class="header_rule">
    <d1>
        <dt><b>{% trans "Name" %}</b> </dt>
        <dd>{{ ca.name}}</dd>
        <dt><b>{% trans "Notes"  %}</b></dt>
        <dd>{{ ca.notes }}</dd>
        <dt><b>{% trans "Key Length" %}</b></dt>
        <dd>{{  ca.key_length }}</dd>
        <dt><b>{% trans "Digest" %}</b></dt>
        <dd>{{  ca.digest }}</dd>
        <dt><b>{% trans "Validity Start" %}</b></dt>
        <dd>{{  ca.validity_start }}</dd>
        <dt><b>{% trans "Validity End" %}</b></dt>
        <dd>{{  ca.validity_end}}</dd>
        <dt><b>{% trans "Serial No" %}</b></dt>
        <dd>{{  ca.serial_number }}</dd>
        <dt><b>{% trans "Certificate" %}</b></dt>
        <dd>{{  ca.certificate}}</dd>
        <dt><b>{% trans "Organization" %}</b></dt>
        <dd>{{  ca.organization}}</dd>
        <dt><b>{% trans "Email" %}</b></dt>
        <dd>{{  ca.email}}</dd>
        <dt><b>{% trans "Cound1y Code" %}</b></dt>
        <dd>{{  ca.cound1y_code}}</dd>
        <dt><b>{% trans "State" %}</b></dt>
        <dd>{{  ca.state}}</dd>
        <dt><b>{% trans "Private Key" %}</b></dt>
        <dd>{{  ca.private_key}}</dd>
    </d1>
</div>


