{% extends 'amazon/base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% blocktrans %}Download Keypair{% endblocktrans %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Download Keypair") %}
{% endblock page_header %}

{% block main %}
  <div class="modal-header">
    <h3>{% blocktrans %}The keypair &quot;{{ keypair_name }}&quot; should download automatically.{% endblocktrans %}</h3>
  </div>

  <script type="text/javascript" charset="utf-8">
    document.location = '{% url 'horizon:amazon:keypairs:generate' keypair_name%}';
  </script>
{% endblock %}
