{% load i18n sizeformat %}

<h3>{% trans "VPN Overview" %}</h3>

<div class="info row-fluid detail">
  <h4>{% trans "Info" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ image.name }}</dd>
    <dt>{% trans "Host" %}</dt>
    <dd>{{ image.host }}</dd>
    <dt>{% trans "Backend" %}</dt>
    <dd>{{ image.backend }}</dd>
    <dt>{% trans "CA" %}</dt>
    <dd>{{ image.ca }}</dd>
    <dt>{% trans "Cert" %}</dt>
    <dd>{{ image.cert }}</dd>
  </dl>
</div>

<div class="specs row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Notes" %}</dt>
    <dd>{{ image.notes }}</dd>
  </dl>
</div>

