{% load i18n sizeformat parse_date %}
{% load url from future %}

<h3>{% trans "Templates Overview" %}</h3>

<div class="info row-fluid detail">
  <h4>{% trans "Info" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ volume.name }}</dd>
    
    <dt>{% trans "Backend" %}</dt>
    <dd>{{ volume.backend }}</dd>
    
    <dt>{% trans "Type" %}</dt>
    <dd>{{ volume.template_type }}</dd>

    <dt>{% trans "Default" %}</dt>
    <dd>{{ volume.default }}</dd>

    <dt>{% trans "Auto_cert" %}</dt>
    <dd>{{ volume.auto_cert }}</dd>

    <dt>{% trans "VPN" %}</dt>
    <dd>{{ volume.vpn }}</dd>

  </dl>
</div>

